include pyThermoDB/templates/*.html
include pyThermoDB/static/*
include pyThermoDB/static/**/*
recursive-include pyThermoDB/templates *
recursive-include pyThermoDB/static *

# Exclude unwanted directories
global-exclude tests/*
global-exclude examples/*
global-exclude notebooks/*
global-exclude statics/*
global-exclude private/*
global-exclude app/*